<?xml version="1.0"?>

<model>
  <name>Trash Can (35 Gallon)</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Allison Thackston</name>
    <email>allison@lyonthackston.com</email>
  </author>

  <description>
    A 35 gallon heavy duty outdoor trash can with wheels and attached lid.
    8" wheels and axle
    Load rating of 122.5 pounds
    37.5h x 19w x 23.75d
  </description>
</model>
