<?xml version='1.0'?>
<database>
    <name>Suburb</name>
    <license>Creative Commons Attribution 4.0 Unported</license>
    <models>
        <uri>file://bicycle</uri>
        <uri>file://driveway</uri>
        <uri>file://fence</uri>
        <uri>file://fire_hydrant</uri>
        <uri>file://flower_pot_1</uri>
        <uri>file://grass_plane</uri>
        <uri>file://hatchback</uri>
        <uri>file://hatchback_blue</uri>
        <uri>file://hatchback_red</uri>
        <uri>file://house_1</uri>
        <uri>file://house_2</uri>
        <uri>file://house_3</uri>
        <uri>file://house_4</uri>
        <uri>file://house_5</uri>
        <uri>file://mailbox</uri>
        <uri>file://oak_tree</uri>
        <uri>file://pickup</uri>
        <uri>file://pine_tree</uri>
        <uri>file://playground</uri>
        <uri>file://residential_road</uri>
        <uri>file://sidewalk</uri>
        <uri>file://stop_sign</uri>
        <uri>file://trash_can_35g</uri>
        <uri>file://trash_can_round</uri>
    </models>
</database>
